 .center {
            text-align: center;
        }
        
        .right {
            text-align: right;
            display: block;
        
        }
        
        .left{
            text-align: left;
            display: block;
        }